.slider,
.slide
{
    overflow: hidden;
}

.slider
{
    position: relative;
    height: 100%;
    width: 100%;
}

.slider h2,
.slider h3
{
    text-align: center;
}

.slider h2
{
    margin: 0 0 0.5em 0;
    font-size: 3em;
}

.slider h3
{
    margin: 0 0 1em 0;
    font-size: 2em;
}

.background
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #494949 url(../images/back.jpg) center top;
}

.slide
{
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 11em 0;
}

/* убиваем сглаживание шрифтов хрома, хотим, чтобы не прыгал текст при анимациях */
.slide.current
{
    display: block;
    opacity: .99;
}

/* counter */
.slide-counter
{
    position: absolute;
    top: 92%;
    left: 93%;
    color: #FFF;
}

/* полноэкранный режим */
.slider-mode-full
{
    height: 100%;
    overflow: hidden;
}


.slider-mode-full .slider.active
{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    z-index: 10001;
}

.slider-mode-full .slider.active .slide
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}